<tbody>
	{% for row in data.tabledata %}
	  <tr>
	    <th scope="row" class="rowHeader">{{ form_row(row.row) }}</th>
	    <td>{{ form_row(row.column1) }}</td>
	    <td>{{ form_row(row.column2) }}</td>
	  </tr>
	{% endfor %}
</tbody>
